body 
{
 font-family: 'Raleway', sans-serif;
 margin: auto;
 
}

head{
margin: auto;
}

.logo{
padding: 0;
 

}

.navbar{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
font-weight: bold;

}

.nav_hb{
display: flex;
color: #0064fa;



}

.nav_act{
display: flex;


}


.nav_su{
display: flex;
color: #0064fa;



}

.title_h1{
font-size: 32px;
margin: 10px 0;
}

.research-box{
    display: flex;
    flex-direction: row;
}



.info{
    display: inline-block;
    display: flex;
    flex-direction: row;  
}

.filters{
    display: inline-block;
    display: flex;
    flex-direction: row;

}



.filters-button{
    display: inline-block;
    list-style-type: none;
    border: solid 2px #e2e2e2;
    border-radius: 200px  
}
      


.icon-filter{
    background-color: #DEEBFF;
    color: #0064fa;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
}





.fa, .fas{
display: inline-block;
font-weight: 900;




}


.info-logo{
    background-color: white;
    width: 0.6%;
    height: 0.6%;
    padding: 7px 11px 7px 11px;
    color: #0064fa;
    border:solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 20px;
    line-height: 1;
}

.icon-location{
display: flex;
justify-content: center;
align-items: center;
width: 55px;
height: auto;
background-color: #F2F2F2;
border-radius: 14px 0 0 14px;
}

.title_h3_filters{
    font-size: 24px;
    
}

.p{
    font-weight: normal;
}