
body
{
	font-family: 'Raleway', sans-serif;
	margin:auto;
}

main
{
	width: 96%;
	max-width: 1440px;
	margin: auto;
}

header
{
	display: flex;
	width: 96%;
	margin: auto;
	max-width: 1440px;
}

ul
{
	list-style: none;
}

.logo
{
	display: flex;
	align-items: center;
	width: 70%;
}

.navbar
{
	display: flex;
	width: 100%;
}

.hebergement-nav
{
    display: flex;
	color: #0064fa;
	padding: 25px;
    border-top: solid 4px #0064fa;
}

.activites-nav
{
    display: flex;
	padding: 25px;
}

.sinscrire-nav
{
    color: #0064fa;
	padding: 25px;
	font-weight: 600;
}

.sign-up
{
	display: flex;
	align-items: center;
}

.title-h1
{
	font-size: 32px;
	margin: 10px 0;
}

.hbg
{
	color: #0064fa;
}

.research-box
{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 10px;
}

.research-bar
{
	padding-left:  20px;
	height: 50px;
	width: 220px;
	border: none;
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
}

::placeholder
{
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.button-research
{
	border: none;
	border-radius: 0 14px 14px 0;
	background-color: #0065fc;
	color: white;
	font-weight: 700;
	font-size: 16px;
	padding: 17px;
}

.info
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0 15px 0;
}

.ul-list
{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.filters
{
	display: inline-block;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 0;
}

.filters-button
{
	display: inline-block;
	margin-left: 25px;
	font-weight: 700;
	border: solid 2px #e2e2e2;
	padding: 0 20px 0 0;
	margin-top: 10px;
	border-radius: 200px;
	transition: all 0.5s;
}

.filters-button:hover
{
	transform: scale(1.06);
}

.icon-filter
{
	background-color: #DEEBFF;
	color: #0064fa;
	padding: 15px;
	border-radius: 200px;
	margin-right: 15px;
}

.fa, .fas
{
	font-weight: 900;
}

.far
{
	color: #e2e2e2;
}

a
{
	text-decoration: none;
	color: initial;
}

.info-logo
{
	background-color: white;
	padding: 7px 11px 7px 11px;
	color: #0064fa;
	border:solid 1px #D9D9D9;
	border-radius: 2000px;
	margin-right: 20px;
	line-height: 1;
}

.icon-location
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 14px 0 0 14px;
}

.title-h3-filters
{
	font-size:  24px;
	justify-content: center;
}


/*BLOC HEBERGEMENT*/

.blocs
{
	display:flex ;
}

.bloc-hebergements
{
	display: flex;
	flex-direction: column;
	width: 65%;
	margin-right: 15px;
	border-radius: 25px;
	background-color: #F2F2F2;
	font-size: 14px;
}

.hebergements-boites
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	width: 92%;
}

.img-case1
{
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: start;
	border-radius: 20px;
	border: 5px solid transparent;
	box-shadow: 0px 0px 6px 0px #0000002e;
	max-width: 100%;
	transition: all 0.5s;
}

.img-case1:hover
{
	transform: scale(1.06);
}

.img
{
	width: 100%;
	height: 110px;
	background-size: 100% 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.nom-hotel
{
	margin: 0;
}

.prix-hotel
{
	margin: 5px 0 5px 0;
}

.stars
{
	display: inline-block;
	color: #0064fa;
}

.title-h2-bloc
{
	display: flex;
	justify-content: flex-start;
	margin-left: 35px;
}

.afficher-plus
{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin-left: 45px;
	font-weight: bold;
}

/*BLOC POPULAIRE*/

.bloc-populaire
{
	display:flex;
	flex-direction: column;
	width: 35%;
	margin-left: 15px;
	border-radius: 25px;
	background-color: #F2F2F2;
	font-size: 14px;
}

.populaire-boites
{
	display: flex;
    flex-direction: column;
	width: 90%;
	margin: auto;
	padding-bottom: 35px;
}

.pop-box
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img-case2
{
	display: flex;
	margin: 0;
	background-color: white;
	border-radius: 20px;
	padding: 7px 0 7px 7px;
	box-shadow: 0px 0px 6px 0px #0000002e;
	max-width: 100%;
	transition: all 0.5s;
}

.img-case2:hover
{
	transform: scale(1.06);
}

.img2
{
	display: flex;
	width: 150px;
	height: 120px;
	border-radius: 20px 0 0 15px;
	object-fit: cover;
}

.nom-prix-stars
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
	padding: 0 0 0 7px;
}
.h2-pop
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	margin: 22px 0 15 0;
}

.populaire-boites i
{
	font-size: 25px;
}

/*BLOC ACTIVITÉS*/
.container-activites
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 6fr 0.25fr 0.25fr 0.25fr 0.25fr 6fr;
	grid-template-areas: "pic1 pic2 pic4 pic5""pic1 pic2 pic4 pic5""pic1 pic2 pic4 pic6""pic1 pic2 pic4 pic6""pic1 pic3 pic4 pic6""pic1 pic3 pic4 pic6";
	grid-row-gap: 70px;
    grid-column-gap: 30px;
}

.title-h2-act
{
	margin: 35px 0 35px 35px;
}

.img-case3
{
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0 0;
	max-width: 100%;
	transition: all 0.5s;
}

.img-case3:hover
{
	transform: scale(1.06);
}

.img3
{
	object-fit: cover;
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

.h3-activites
{
	width: 95%;
	background-color: white;
	border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 17px -10px black;
	padding: 20px 0 20px 5%;
	margin-top: -10px;
}

#pic1
{
	grid-area: pic1;
}

#pic2
{
	grid-area: pic2;
}

#pic3
{
	grid-area: pic3;
}

#pic4
{
	grid-area: pic4;
}

#pic5
{
	grid-area: pic5;
}

#pic6
{
	grid-area: pic6;
}

/*FOOTER*/

.footer
{
	width:100%;
	background: #F2F2F2;
	margin: 0;
	padding: 0;
	margin-top: 150px;
}

.footer-div
{
	display: flex;
	flex-direction: row;
	max-width: 1440px;
	gap: 180px;
	margin: auto;
	padding: 0 50px 0 10px;
}

.footer-bloc
{
	display: flex;
	flex-direction: column;
}

.footer-links
{
	margin-bottom: 10px;
}

.footer-h3
{
	font-size: 18px;
}



/*MOBILE*/
@media screen and (max-device-width:800px)
{

	main
	{
		width: 100%;
	}

	header
	{
		padding-top: 20px;
        width: 100%;
	}

	.navbar
	{
		width: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "logo navbar-signup""navbar-hebergement navbar-activites";
	}

	.logo
	{
		grid-area: logo;
		padding-left: 15px;
	}

	.hebergement-nav
	{
		grid-area: navbar-hebergement;
		align-items: center;
        justify-content: center;
        border-bottom: solid 4px #0064fa;
        border-top: none;
	}

    .hbg
    {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

	.activites-nav
	{
		grid-area: navbar-activites;
		align-items: center;
        justify-content: center;
        border-bottom: solid 4px #F2F2F2;
	}

    .act
    {
        margin: 0;
        padding: 0; 
    }

	.sign-up
	{
		grid-area: navbar-signup;
		align-items: center;
        justify-content: center;
	}

	.filters
	{
	    display: inline-block
    }

	.title-h3-filters
	{
		margin: 25px 0 -15px 30px;
		align-items: center;
	}

	.research-box
	{
		width: 90%;
	    margin: auto
    }

	.p1
	{
	    margin: 10px 0 25px 25px
    }

	.title-h1
	{
		font-size: 21px;
		width: 90%;
		margin: 20px 0 0 20px;
	}

	.info
	{
		width: 90%;
		margin: auto;
	}

	.blocs
	{
		display: flex;
		flex-direction: column-reverse;
	}

	.bloc-hebergements
	{
		background-color:white;
		display: flex;
		flex-direction: column;
		width: 87%;
		margin: auto;
	}

	.hebergements-boites
	{
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 95%;
	}

    .img
    {
        height: 190px;
    }

	.afficher-plus
	{
		margin-left: 20px;
	}

	.bloc-populaire
	{
		display: flex;
		width: 100%;
		border-radius: 0;
		margin: 0;
	}

	.populaire-boites
	{
		width: 85%;
		margin: auto;
		padding-bottom: 22px;
	}

    .img2{
        height: 150px;
        width: 160px;
    }

	.title-h2-bloc
	{
		margin-left: 15px;
	}

	.container-activites
	{
		display: flex;
		flex-direction: column;
		width: 85%;
		margin: auto;
        gap: 100px;
	}

	.title-h2-act
	{
		margin-left: 60px
	}

	.img-case3
	{
		height: 230px;
	}

	.footer
	{
		margin-top: 150px;
	}

	.footer-div
	{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.footer-bloc
	{
		margin-left: 10px;
	}
}
/*TABLETTES*/

@media screen and (min-width: 801px) and (max-width:1024px)
{
	.title-h1
	{
		font-size: 24px;
		width: 90%;
		margin: 20px 0 0 0;
	}

    .blocs
    {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

   .bloc-hebergements
   {
	   width: 100%;
   }

   .bloc-populaire
   {
	   width: 100%;
	   margin: 0;
   }
   
   .populaire-boites
   {
	   width: 70%;
   }

   .container-activites
   {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
   }

   .img-case3
   {
        width: 30%;
		margin: auto;
   }

   .img3
   {
		height: 250px;
   }

   .footer
   {
	    margin-top: 100px;
   }

   .footer-div
   {
 		display: flex;
	    flex-direction: column;
		gap: 30px;
   }

   .footer-bloc
   {
	    margin-left: 10px;
   }

}