body 
{
 font-family: 'Raleway', sans-serif;

 

}
main{
    max-width: 1440px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

ul{
    list-style: none;
}

.logo{
    align-items: center;
}


.menu{
display: flex;
}


.navigation{
display: flex;



}

.hebergement_nav{
    color:#0064fa;
    padding: 25px;
    
}

.activites_nav{
    padding: 25px;
}
.sinscrire_nav{
    color: #0064fa;
    padding: 25px;
    font-weight: 600;
}


.title_h1{
font-size: 32px;
margin: 10px 0;
}

.research-box{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
}

.research_bar{

    padding-left:  20px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    

}

::placeholder{

    color: black;
    font-size: 16px;
    font-weight: bold;
}

.button_research{

    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;


}

.info{
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.ul-list{

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

}

.filters{
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    
}

.filters-button{
    
    display: inline-block;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px; 
    
}   
      

.icon-filter{
    background-color: #DEEBFF;
    color: #0064fa;
    padding: 15px;
    border-radius: 200px;
    margin-right: 15px;
}

.fa, .fas{
    display: inline-block;
    font-weight: 900;
}


.info-logo{
    background-color: white;
    width: 0.6%;
    height: 0.6%;
    padding: 7px 11px 7px 11px;
    color: #0064fa;
    border:solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 20px;
    line-height: 1;
    
}

.icon-location{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}

.title_h3_filters{

    font-size:  24px;
    justify-content: center;

}

.blocs{

    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.bloc_accomodation{

    display: flex;
    
    
    

}

.img-case1{

    max-height: 100px;
    min-width: 150px;
    
    
    
}

.img-case2{

    
    max-height: 100px;
    min-width: 150px;

}





.footer{
    
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer_bloc{

    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer_links{

    margin-bottom: 10px;

}

.footer_h3{

    font-size: 18px;
    

}